
@media (max-width: 768px) {

    .homeButton{
        z-index: 0;
        position:absolute;
        bottom: 0vh;
        left: 0;
        /* right: calc(50vw - 10vw); */
        height: auto !important;
        width: 100% !important;
        /* margin: auto; */
    }
    
    .phoneContainer{
        flex-direction: column-reverse;
    }
    .col-left,
    .col-right {
        height: auto;
        flex-direction: row;
        /* Désactiver la hauteur fixe en mode téléphone */
    }

    .col-left {
        height: 10vh;
        align-items: center;
        gap: 1vw;
        /* 20% de la hauteur en mode téléphone */
        box-shadow: 5px 5px 15px 5px #000000;
    }

    .col-right {
        height: 90vh;
        /* 80% de la hauteur en mode téléphone */
    }

    .btnPanel {
        width: 33%;
        height: 100%;
    }
    
    .btnContainer{
        width: 100%;
        z-index: 1;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 4vw;
        padding-right: 4vw;
        /* gap: 2vw; */
    }

    .btnIcone{
        height: 12vh;
        /* position: absolute; */
        margin-left: auto;
        margin-right: auto;
    }

    .btnIcone{
        display:block !important;
    }

    .txtBtn{
        display:none;
    }
}