
@media (max-width: 768px) {

    #apercu h3 {
        width: 74vw;
        height: 4dvh;
    }
    
    iframe {
        width: 74vw;
        height: 19dvh;
    }

    .search-container-proposal{
        width: 83vw;
    }

    .mainScreenContainer{
        max-height: 90dvh;
        overflow: scroll;
    }
    .homeButton{
        width: auto !important;
        height: auto !important;
        z-index: 3;
        position:absolute;
        bottom: 0dvh;
        right: calc(50vw - 6dvh);
    }
    
    .phoneContainer{
        flex-direction: column-reverse;
    }
    .col-left,
    .col-right {
        height: auto;
        flex-direction: row;
    }

    .col-left {
        height: 10dvh;
        align-items: center;
        gap: 1vw;
        box-shadow: 5px 5px 15px 5px #000000;
    }

    .col-right {
        height: 90dvh;
    }

    .btnPanel {
        width: 33%;
        height: 100%;
    }
    
    .btnContainer{
        width: 100%;
        z-index: 1;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 4vw;
        padding-right: 4vw;
    }

    .btnIcone{
        height: 12dvh;
        margin-left: auto;
        margin-right: auto;
        display:block !important;
    }

    .txtBtn{
        display:none;
    }

    .btnFlotantContainer{
        position: absolute;
        display: flex;
        flex-direction: row;
        /* bottom: 11vh; */
        gap: 2vh;
        display: block;
        width: 12vw;
        height: 12vh;
        z-index: 0;
    }
}