@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

html {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    height: 100%;
}

body {
    background: rgb(87, 6, 124);
    /* background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(43, 3, 35) 56%, rgb(189, 6, 119) 100%); */
    align-items: center;
    display: grid;
    grid-template-columns: 20% auto;
    min-height: 100%;
    margin: 0;
    overflow: hidden;
}


/* Add a black background color to the top navigation */
.leftnav {
    background-color: #333;
    overflow: hidden;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    width: 100%;
    left: 0;
    position: relative;
}

/* Style the links inside the navigation bar */
.leftnav button {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 100%;
}

.leftnav #home {
    height: 27vh;
}

/* Add a color to the active/current link */
.leftnav button.active {
    background-color: rgb(87, 6, 124);
    color: white;
    box-shadow: inset -20px 0 15px rgb(87, 6, 124), inset 7px 0px 13px #000000;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.leftnav button.active#home {
    background-color: #333;
    box-shadow: none;
}

#content {
    display: grid;
    justify-content: center;
    gap: 49px;
    width: 100%;
    height: 100%;
    grid-template-columns: auto auto auto;
    max-height: 81vh;
    overflow: scroll;
    padding-top: 2vh;
    overflow-y: auto;
    overflow-x: auto;
}

.row {
    display: flex;
    gap: 58px;
}

iframe {
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
    width: 25vw;
    height: 28vh;
}

.search-container {
    background-color: #535353;
    height: 30px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 28px;
    width: 42vw;
}

.search-container .search-input {
    color: white;
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    font-weight: 500;
    font-size: 21px;
}

nordpass-passkeys {
    display: none;
}

.mainScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 11vh;
    height: 84%;
}

.videoYoutube {
    width: 20vw !important;
    height: 22vh !important;
}

.sousMenu {
    background-color: #505050;
    display: flex;
    flex-direction: column;
    width: 50%;
    left: 50%;
    position: relative;
    display: none;
    transform: translateY(100%);
    /* Cache la div en la déplaçant vers le haut */
    /* opacity: 0; */
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.sousMenu.show {
    transform: translateY(0);
    /* Déplace la div à sa position d'origine */
    opacity: 1;
    /* Rend la div visible */
}

.sousMenu button {
    width: 100%;
    text-align: left;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}


#btnProposer {
    color: white;
    background-color: #333;
    border-radius: 15px;
    width: 11vw;
    padding: 13px;
}

#apercu {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#apercu iframe {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#apercu h3 {
    color: #333;
    background: #ffffff;
    width: 20vw;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0;
    height: 4vh;
}

#twitchConnected {
    position: absolute;
    right: 0;
    top: 0;
    border-bottom-left-radius: 15px;
    background-color: #333;
    padding: 1vw;
    color: white;
    display: flex;
    align-items: center;
    gap: 1vw;
    font-size: 1vw;
    -webkit-box-shadow: 0 0 24px 5px #000000;
    box-shadow: 0 0 24px 5px #000000;
}

.twitchIcone {
    width: 1.5vw;
}

.grosTitre {
    position: absolute;
    top: 0;
    font-size: 2vw;
    color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #333;
    padding: 1vh;
}

button:hover {
    background-color: #ddd;
    color: black !important;
}

#twitchConnected button{
    text-decoration: none;
    color: white;
}