html,
body {
    height: 100%;
    margin: 0;
}

.btnPanel {
    width: 100%;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.mainBtnPanel{
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.btnContainer{
    display:flex;
    flex-direction: column;
    justify-content: end;
}

.btnIcone{
    height:12vw;
}

.mainBtnPanel .btnIcone{
    height: 8dvh;
}

.mainBtnPanel .btnIcone{ 
    display: none;
}

.txtBtn{
    display:block;
}

.full-height {
    height: 100dvh;
}

.col-left {
    background-color: #333;
    display:flex;
    flex-direction: column;
    gap: 2dvh;
}

.col-right {
    background-color: #b12d81;
}

.mainScreenContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container {
    height: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 42vw;
    display: grid;
    grid-template-columns: 90%;
    position: absolute;
    top: 10%;
}

.search-container-proposal .pseudoSearch-input,
.search-container .pseudoSearch-input {
    color: white;
    background: transparent;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 21px;
    background-color: #333;
    border-radius: 15px;
    height: 43px;
    padding-left: 3%;
    padding-right: 3%;
    box-shadow: 5px 5px 15px 5px #000000;
}

.search-container-proposal{
    height: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 48vw;
    display: grid;
    grid-template-columns: 90%;
    top: 22%;
}

#btnProposer {
    color: white;
    background-color: #0a8f27;
    border-radius: 15px;
    width: 41%;
    margin: auto;
    font-weight: 500;
    font-size: 21px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 2%;
    transition-property: width;
    transition-duration: 1s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.grosTitre {
    position: absolute;
    top: 0;
    font-size: 2.5dvh;
    color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #333;
    padding: 1dvh;
}

#apercu {
    margin-top: 8dvh;
    margin-bottom: 8dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#apercu iframe {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#apercu h3 {
    color: #333;
    background: #ffffff;
    width: 21vw;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0;
    height: 4dvh;
    z-index: 1;
}

iframe {
    border-radius: 15px;
    box-shadow: 3px 3px 15px 5px #000000;
    width: 21vw;
    height: 23dvh;
    z-index: 0;
}

.bottomInformation{
    bottom:0;
}

.btnFlotantContainer{
    display:none;
}

.btnFlotant{
    height: 5vh;
    width: 6vh;
    background: none;
    border: none;
}

.btnFlotant .btnIcone{
    height: 4vh;
}

.btnGroup{
    display:flex;
    align-items: center;
    justify-content: center;
}

.hide{
    display: none !important;
}